div.verified, div.not-verified,
span.verified, span.not-verified {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
}
div.verified, span.verified {
    background: #D0E5A9 none repeat scroll 0 0;
    border: 1px solid #5B8116;
    color: #185B00;
}
div.not-verified, span.not-verified {
    background: #F9D4D4 none repeat scroll 0 0;
    border: 1px solid #E22626;
    color: #E22626;
}
/* Grid Page. */
div.verified, div.not-verified {
    margin: 0 auto;
    padding: 0 3px;
}
/* Item Verification Page. */
span.verified, span.not-verified {
    padding: 6px 3px;
}
