div.verified, div.not-verified,
span.verified, span.not-verified {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
div.verified, span.verified {
    background: #D0E5A9 none repeat scroll 0 0;
    border: 1px solid #5B8116;
    color: #185B00;
}
div.not-verified, span.not-verified {
    background: #F9D4D4 none repeat scroll 0 0;
    border: 1px solid #E22626;
    color: #E22626;
}
/* Grid Page. */
div.verified, div.not-verified {
    margin: 0 auto;
    padding: 0 3px;
}
/* Item Verification Page. */
span.verified, span.not-verified {
    padding: 6px 3px;
}

/* Verifiers List Styling. */
.verifiers-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}
.verifiers-list li {
    background-color: #FFD5C2;
    padding: 12px 15px;
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s, transform 0.2s;
}
.verifiers-list li:hover {
    background-color: #D35400;
    color: white;
    transform: scale(1.05);
}
