<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Magento_Logging::magento_logging">
                        <resource id="Devlat_Settings::config_track_logs" title="Settings Tracked List" translate="true" sortOrder="20">
                            <resource id="Devlat_Settings::config_track_log_verify" title="Verify and Update" translate="title"/>
                            <resource id="Devlat_Settings::config_track_log_delete" title="Delete Config Tracked" translate="title"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
