<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Devlat\Settings\Api\Data\TrackerInterface"
                type="Devlat\Settings\Model\Tracker" />

    <virtualType name="Devlat\Settings\Model\ResourceModel\Tracker\Grid\Collection"
        type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">devlat_settings_tracker</argument>
            <argument name="resourceModel" xsi:type="string">Devlat\Settings\Model\ResourceModel\Tracker</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="devlat_tracker_tracker_listing_data_source" xsi:type="string">
                    Devlat\Settings\Model\ResourceModel\Tracker\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>
